@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind copmonents;
@tailwind utilities;

:root {
  --blue: #00D8FB;
  --green: #198754;
  --red: #DC3545;
}

html,
body,
#app {
  height: 100%;
}

/* body {
  background-image: url("@/assets/bg-mika.jpg");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
} */

.border-primary {
  border-color: var(--blue);
}
.border-danger {
  border-color: var(--red);
}

.bg-primary {
  background: var(--blue);
}
.bg-danger {
  background: var(--red);
}

.text-primary {
  color: var(--blue);
}
.text-success {
  color: var(--green);
}
.text-danger {
  color: var(--red);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #F1F1F1;
}
::-webkit-scrollbar-thumb {
  background: var(--blue);
}