@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind copmonents;
@tailwind utilities;

:root {
  --blue: #00D8FB;
}

html,
body,
#app {
  height: 100%;
}

/* body {
  background-image: url("@/assets/bg-mika.jpg");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
} */

.border-primary {
  border-color: var(--blue);
}

.bg-primary {
  background: var(--blue);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
